doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title People
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(href='css/sticky-footer-navbar.css' rel='stylesheet')
body
  header
    include blocks/header

  main.container(role='main')
    .row
      h1.mt-5.mb-5 #{`${title || `Hello, ${user.name}!`}`}
    block main

  footer.footer
    .container
      span.text-muted Dmitriy Orlov, 2021
